{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% import 'themes/app/content/macros/content_fields.html.twig' as content_fields %}


<article class="view-type view-type-{{ view_type }} ng-job-position vl8">
    <div class="article-content">
        <header class="article-header">
            <h3 class="title"><a href="{{ ez_path(location) }}">{{ content_fields.title(content) }}</a></h3>
            <div class="info">
                {% if not content.fields.job_location.empty %}
                    {{ ng_render_field(content.fields.job_location) }}
                {% endif %}
                {% if not content.fields.engagement_type.empty %}
                    {{ ng_render_field(content.fields.engagement_type) }}
                {% endif %}
            </div>
        </header>

        <div class="actions">
            <a class="btn btn-link" href="{{ ez_path(location) }}">{{ 'ngsite.card.apply_now'|trans }}</a>
        </div>
    </div>
</article>
